.DS_Store
__pycache__/
*.pyc
temporary.txt
KS_C_9306.pdf
 Lost-in-translation--Overcoming-divergent-seasonal-perfo_2020_Energy-for-Sus.pdf
 un_ac_proposal_regarding_ISO16358.pdf
 KS_C_9306.pdf 
 iso16358-_brazil_adapt.pdf
---